* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Urbanist";
}

header,
footer {
  background-color: #1f2937;
}
header {
  height: 60vh;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-logo h1 {
  font-size: 2.4rem; /* Resetting font size to 1rem to avoid any default browser styles */
  color: #f9faf8;
}
.header-links ul {
  list-style: none;
  display: inline-flex;
  font-size: 1.6rem;
  color: #f9faf8;
}
.header-links ul li {
  padding: 1rem;
}
.hero {
  margin: 10rem 20rem;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.hero-text-area {
  margin-right: 10rem;
}
.hero-text-area h2 {
  color: white;
  font-size: 4.2rem;
  font-weight: 700;
}
.hero-text-area p {
  color: #e5e7eb;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
/* .hero-text-area */
.buttons {
  border: none;
  border-radius: 0.6rem;
  font-size: 1.7rem;
  background-color: #3882f6;
  color: white;
  margin-top: 1rem;
  padding: auto;
  padding: 0.4rem 2rem;
}
.image-placeholder {
  display: flex;
  justify-content: center;
  margin-left: 1rem;
}
.image-placeholder img {
  border-radius: 1rem;
  display: flex;
  justify-content: center;
}
.projects {
  margin-top: 20rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.InformationHeading h3 {
  color: black;
  font-size: 2.4rem;
}
.boxes {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}
.boxs {
  margin-top: 5rem;
  border: 2px solid #3882f6;
  border-radius: 2rem;
  width: 12rem;
  aspect-ratio: 1;
}
.testimonial {
  margin: 14rem;
}
.testimonial p {
  font-size: 3.5rem;
  color: grey;
  font-style: italic;
}
h4 {
  font-size: 2rem;
  margin-left: 20rem;
}
.calltoaction {
  width: 50%;
  border-radius: 0.4rem;
  height: 10%;
  background-color: #3882f6;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
h5 {
  margin-left: 1rem;
  color: #f9faf8;
  font-size: 2rem;
}
.call-to-action-p p {
  color: #f9faf8;
}
.cta {
  padding: 0.5rem 0.5rem;
  border-radius: 0.4rem;
  color: #e5e7eb;
  border: 1px #e5e7eb solid;
  background-color: #3882f6;
}
footer {
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ftext {
  font-size: 1.3rem;
  color: #e5e7eb;
  text-align: center;
}
